@import url('https://fonts.googleapis.com/css?family=Muli|Mr+De+Haviland');

/* everything */
* {
	margin:0;
	padding:0;
	font-family: 'Muli', sans-serif;

}
*:focus {
	outline:none;
}
html {
	height:100%;
}
h1 {
	margin:50px;
}
body {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	background-color:#000;
	color:#fff;
}

ul {
	list-style:none;
}
a {
	text-decoration: none;
	color:inherit;
}
/* header */

header {
	position:fixed;
	z-index:10;
	margin:0 auto;
	width:100%;
	left:0;
	right:0;

}
.logo a {
	font-family: 'Mr De Haviland', cursive;
	position:relative;
	font-size:40px;
	float:left;
	margin:5px;
}

nav ul {
	float:right;
}
nav li {
	float:left;
	height:50px;
	width:70px;
}
nav li:hover {
	text-shadow: 2px 2px red;
}

nav button {
	background:none;
	color:inherit;
	border:none;
	height:100%;
	width:100%;
}
nav button:hover {
	cursor:pointer;
	font-weight:bold;
}
header .container {
	max-width:980px;
	margin:auto;
	position:relative;
}
#backgroundNav {
	width:100%;
	height:0px;
	position:absolute;
	background-color:#fff;
}
/* hero */
.main {

	text-align:center;
	height:100%;
	width:100%;
}
.hero {
	background-image: url(../media/hero.jpeg);
	position:relative;
	background-size:cover;
	background-position: center;
	width:100%;
	height:100%;
}
.heroDarken {
	height:100%;
	width:100%;
	background-color:#000;
	z-index:2;
	position:absolute;
	opacity:0.5;
}
.heroText {
	position:absolute;
	top:20%;
	left:10%;
	z-index:3;
	margin:auto;
}
.heroText h1{
	text-align:left;
}

/* about */


.about {
	max-width:980px;
	margin:0 auto;
	text-align:center;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
}
.about h1 {
	margin: 50px 0 20px;
}
.about h3 {
	margin:0 0 50px;
}
.about li {
	float:left;
	width:30%;
	padding:0 1.5%;

}
.icon {
	font-size:40px;
	color:red;
}
.about p {
	color:#fff;
}

/* projects */

.projects {
	max-width:980px;
	margin:0 auto;
	text-align:center;
	min-height:600px;
	overflow:hidden;
	position:relative;
}
.projects h1 {
	position:relative;
	z-index:5;
}
.backgroundProjects{
	opacity:0;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-size:cover;
	background-position:center;
	background-image:url(../media/idiot.jpg);
	transition: opacity 0.6s ease-in-out;

	

}
.idiot {
	position:relative;
	z-index:5;
}
.idiot:hover {
	color:red;
}
.idiot:hover ~ .backgroundProjects{
	
	opacity:0.5;
	filter: alpha(opacity=50);


}
/* contact */
.contact {
	max-width:980px;
	margin:0 auto;
	text-align:center;
}
.contact h1 {
	margin:50px;
}
.mail {
	float:left;
	width:50%;
}
.info {
	margin:5px;
	display:block;
	height:25px;
	border-radius:3%;
	background:#000;
	border:1px solid gray;
	color:#fff;
	padding-left:10px;

}
.message {
	height:250px;
	width:400px;
	vertical-align: top;

}
textarea {
	padding-top:10px;
	resize:none;
}

.location {
	overflow:hidden;
}
#map {
	margin:5px 5px 50px 5px;
	height:330px;

}
/* footer */

footer {
	width:100%;
	height:150px;
	background:#2A3A3F;
	text-align:center;
}
footer p {
	padding-top:30px;
	font-size:15px;
	color:gray;
}
footer a {
	line-height:1.7;
	margin-top:30px;
	color:gray;
	width:36px;
	height:36px;
	position:relative;
	display:inline-block;
	font-size:20px;
	border-radius:50%;
	background-color:rgba(0,0,0,0.1);
}
footer a:hover {
	color:inherit;
	background-color:rgba(0,0,0,0.5);
}

